* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Black Ops One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  min-width: 300px;
}

#app {
  width: 300px;
  margin: 0 auto;
  position: relative;
}

h3 {
  position: absolute;
  text-align: center;
  width: 100%;
  background: red;
  color: white;
}

h1 {
  position: absolute;
  font-size: 38px;
  line-height: 60px;
  width: 100%;
  top: calc(50% - 30px);
  left: 0;
  background: chartreuse;
}

.hide {
  display: none;
}

#time {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 9;
  line-height: 20px;
  background-color: aqua;
  color: blueviolet;
  font-size: 12px;
  height: 20px;
  display: block;
}
